Title: Nathanael Jones - Ramblings of a computer linguist
Libs: uservoice, bxSlider, -comments


h1.page-header What I do
markdown:
	I run [Imazen](http://imazen.io), a tiny software company that specializes in web-based image processing and other difficult engineering problems.

	I spend most of my time writing image-processing code in C#, web apps in Ruby, and documentation in Markdown.

	My [GitHub profile](http://github.com/nathanaeljones) is the best place to see which open-source projects I'm working on, and [LinkedIn](http://linkedin.com/in/nathanaeljones) has additonal information.


h1 Recent ramblings


