Aliases: /about-2/ /?page_id=89 /?p=89
Atom ID: http://66.29.219.39/?page_id=89
wp_template: default
template: basic

%h1 About Me

%header.page-header
  %h1.page-title About Me
  %hr/
  %h2.page-description Obsessed with return on investment of time. 
/ end .page-header
.one-third
  %h4 Smart, Agile, Imaginative
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum.
/ end .one-third
.one-third
  %h4 Our Approach
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  %p Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum.
/ end .one-third
.one-third.last
  %h4 Methodology
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum.
  %p Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum.
/ end .one-third.last

Hi!

I've been writing software for nearly a decade. This doesn't make me anything special - there are far, far more experienced people out there.

However, I'm a little obsessed with ROI. Return on investment of <em>my time.</em> So I'm perpetually looking for better tools, better languages, and better frameworks.  Most importantly, I'm always looking for better <em>concepts</em>. Better approaches, better practices.

Along the way, I started to question a lot of classic 'wisdom' about software. I realized that I'd fallen into the same rut with everyone else, and it stunk. I'd started believing that the object-oriented, imperative, strictly-typed way was the only <em>good</em> way to do things.

I was entirely wrong, and guilty of groupthink. And I don't want it to happen again.

My e-mail address is computer.linguist@gmail.com.

