



@import url('http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic');

@import "bootstrap/bootstrap.less";

@import "bootstrap/responsive.less";

@import "bootswatch";

@import "../js/highlight/styles/tomorrow";
   
pre, pre code {
  background:transparent;
}

pre code {
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: none;
  padding: none;
}



/* Footer 2
-------------------------------------------------- */

.footer {
  padding: 35px 0;
  margin-top: 35px;
  border-top: 1px solid #e5e5e5;

}
.footer p {
  margin-bottom: 0;
  color: #777;
}

.about-me{
  padding:35px 0;
}


.tweet_list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
 li {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0.5em;
  list-style-type: none;
  a {
  color: #0C717A;
}
}

.tweet_avatar {
  padding-right: .5em; float: left;
    img {
    vertical-align: middle;
  }
}
}

